@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif !important;
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align:center;
}

.text-primary {
  color: #cb5252;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #cb5252;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
  font-weight: bold;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.btn {
  display: inline-block;
  color: #fff;
  background: #cb5252;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  color: #cb5252;
  background: #ffffff;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top:0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #cb5252;
  border-radius: 5px;
}

#chimney {
  background: #333 url('../img/Chimeny.png') no-repeat center center/cover;
}

/* Showcase */
#showcase {
  background: #333 url('../img/stone_porch.295143437_large.JPG') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 84px;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

/* Section: What We Do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #cb5252;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Section: Who We Are */
#who {
  display: flex;
}

#who div {
  flex: 1;
}

#who .who-img {
  background: url('../img/Keith_with_truck.28385355_std.JPG') no-repeat center center/cover;
}

/* Section: Clients */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 80%;
  
}

/* Section: Members */
#members {
  border-top:5px solid #313030;
}

#members .items {
  top: 95px;
  display: flex;
}

#members .items img {
  display: block;
  margin: auto;
  width: 80%;
  
}

/* Section: Photos */
#photos {
  background: #333;
}

#photos .items {
  top: 95px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#photos .items img {
  display: block;
  margin: auto;
  width: 90%;
}

#photos .items div:not(:last-child) {
  margin-bottom: 20px;
}

/* Section: Contact */
#contact {
  display: flex;
  text-align: center;
}

#contact .list{
  list-style: none;
}

#contact .img, #contact .contact-form {
  width: 100%;
  flex: 1;
}

#contact .list .contact-form .form-group {
  width: 100%;
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */

  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 45px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-Chimeny-Icon:before {
  content: "\e901";
  font-size: 40px;
}
.icon-block:before {
  content: "\e902";
}
.icon-brick_1:before {
  content: "\e903";
}
.icon-stone_1:before {
  content: "\e904";
}
.icon-chimney:before {
  content: "\e900";
}
